<include file="Index:header" />
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> 数据库备份 </h1>
      <ol class="breadcrumb">
        <li><a href="__APP__/TIFAWEB_DSWJCMS.html" class="goindex"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li> 基础配置</li>
        <li class="active">数据库备份</li>
      </ol>
    </section>
<!--主体-->
    <!-- Main content -->
  <section class="content">
  <form method="post">
    <div class="box">
    <div class="box-body">
    <table class="table table-bordered">
     <input name="id" type="hidden" value="{$ed.id}" />
       <tbody>
          <tr>
            <td>备份方式：</td>
            <td class="form-group">
                <label><input type="radio" name="pid" class="minimal" value="2" checked/> 全部备份</label>
            </td>
          </tr>
           <tr>
            <td>
                   收件邮箱：
            </td>
            <td>
              <input type="text" name="email" class="form-control" placeholder="请输入收件邮箱">
            </td>
          </tr>
        </tbody>
     </table>
    </div>
    </div>
    <div class="row">
     <button class="btn btn-primary pull-right" style="margin-right: 15px;"  type="submit">
                  发送
              </button>
    </div>
    </form>
    
  </section>
<include file="Index:footer" />