<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div clsss="">
<div class="container ">
    <!-- right start-->
    <div  id="content" class="center_right">
    	<div  class="center_top row-fluid">

                
                <div class="span12">
                <br/>
                <br/>
                <br/>
                <p class="text-info">Dscms并没有明确的行业用途，所以未对个人中心进行开发，如需带个人中心，建议下载dswjcms其它产品进行二次开发www.dswjcms.com</p>
                </div>
                
         </div>
    </div>
    <!-- right end--> 
</div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />