<!--底部-->
</div>
  <!--<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
    
  </footer>-->
  <footer class="main-footer">
    <div class="pull-right hidden-xs"> <b>Version</b> 0.1 </div>
    <strong>Copyright &copy; 2013-<php>echo date('Y');</php> <a href="https://www.dswjcms.com">Dswjcms</a>.</strong> All rights
    reserved. </footer>
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark"> 
    
    <!-- Tab panes -->
    <div class="tab-content"> 
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <div>
          <h4 class="control-sidebar-heading">主题</h4>
          <ul class="list-unstyled clearfix" id="adminTheme">
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">蓝色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">黑色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">紫色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">绿色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">红色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin">黄色</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">蓝色的光</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">黑色的光</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">紫色的光</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">绿色的光</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">红色的光</p>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
              <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
              <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
              </a>
              <p class="text-center no-margin" style="font-size: 12px">黄色的光</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.tab-pane --> 
    </div>
  </aside>
  <!-- /.control-sidebar --> 
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper --> 
<!--管理员头像更换-->

<div class="modal fade" id="adminLogo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">更换头像</h4>
      </div>
      <form method="post" action="__APP__/TIFAWEB_DSWJCMS/Index/adminlogoupload"  enctype="multipart/form-data">
      <div class="modal-body">
            <table class="table">
                <tbody>
                  <tr>
                    <td style="width:100px;">
                           选择头像：
                    </td>
                    <td class="row adminlogo">
                    
                      <img class="img-circle col-md-2" src="/Tpl/Admin/template/AdminLTE/Public/img/avatar.png" alt="img/avatar.png">
                      <img class="img-circle col-md-2" src="/Tpl/Admin/template/AdminLTE/Public/img/avatar2.png" alt="img/avatar2.png">
                      <img class="img-circle col-md-2" src="/Tpl/Admin/template/AdminLTE/Public/img/avatar3.png" alt="img/avatar3.png">
                      <img class="img-circle col-md-2" src="/Tpl/Admin/template/AdminLTE/Public/img/avatar4.png" alt="img/avatar4.png">
                      <img class="img-circle col-md-2" src="/Tpl/Admin/template/AdminLTE/Public/img/avatar5.png" alt="img/avatar5.png">
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                           上传：
                    </td>
                    <td>
                    <div class="imgupPortraitLoad" id="adminfileList" style="width:82px;height:82px;">
                        <if condition="$Think.session.admin_portraittype eq 1">
                          <img src="/Tpl/Admin/template/AdminLTE/Public/{$Think.session.admin_portrait}" alt="头像"> 
                          <elseif condition="$Think.session.admin_portrait neq '' and $Think.session.admin_portraittype neq 1"/>
                          <img src="/Public/uploadify/uploads/adminportrait/{$Think.session.admin_portrait}" alt="头像">
                          <else/>
                          <img src="/Tpl/Admin/template/AdminLTE/Public/img/avatar.png" alt="头像"> 
                          </if>
                     </div>
                     <input id="adminportraitvar" name="portrait" type="hidden" value="" />
                      <input name="input" id="adminfileElem" multiple="" accept="image/*" onchange="adminhandleFiles(this)" class="hide" type="file">
                     
                    </td>
                  </tr>
                </tbody>
            </table>
        	<div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" >确定</button>
            
          </div>
       </div>
      </form>
      </div>
      
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--管理员头像更换 end-->
<!--底部 end-->
<!-- jQuery 3 --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery.min.js"></script> 
<!-- Bootstrap 3.3.7 --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/bootstrap.min.js"></script> 
<!-- PACE --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/pace.min.js"></script> 
<!-- FastClick --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/fastclick.js"></script> 
<!-- AdminLTE App --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/adminlte.min.js"></script> 
<!-- Sparkline --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery.sparkline.min.js"></script> 
<!-- date-range-picker -->
<script src="/Tpl/Admin/template/AdminLTE/Public/js/moment.min.js"></script>
<script src="/Tpl/Admin/template/AdminLTE/Public/js/daterangepicker.js"></script>
<!-- jvectormap  --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery-jvectormap-1.2.2.min.js"></script> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery-jvectormap-world-mill-en.js"></script> 
<!-- DataTables -->
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery.dataTables.min.js"></script>
<script src="/Tpl/Admin/template/AdminLTE/Public/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/jquery.slimscroll.min.js"></script> 
<!-- ChartJS --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/Chart.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/Tpl/Admin/template/AdminLTE/Public/js/icheck.min.js"></script>
<!-- admin --> 
<script src="/Tpl/Admin/template/AdminLTE/Public/js/admin.js"></script> 
<script>
$(function () {
  //用户未操作，强制退出
  var onlineStatus=new Date().getTime();
  var onlineStatustime=1000*60*30;//修改最后一位即可，计算为:分钟数，默认为30分钟
  $("body").on("mouseover mouseout click",function(){
		onlineStatus=new Date().getTime();
  })
	
	// test
	setInterval(function () { 
	  if((onlineStatus+onlineStatustime) < new Date().getTime()){
	  	window.location.href='__APP__/TIFAWEB_DSWJCMS/Logo/lockscreen.html';
	  }
	}, 5000);
})
//管理头像上传处理
window.URL = window.URL || window.webkitURL;
var adminfileElem = document.getElementById("adminfileElem"),
adminfileList = document.getElementById("adminfileList");
adminfileList.addEventListener('click',function(){
	adminfileElem.click();
},false);
    function adminhandleFiles(obj) {
        var files = obj.files,
        img = new Image();
        if(window.URL){
            //File API
            //alert(files[0].name + "," + files[0].size + " bytes");
            img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
            img.onload = function(e) {
                window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
            }
			
            adminfileList.innerHTML='<img src="'+img.src+'"/>';
        }else if(window.FileReader){
            //opera不支持createObjectURL/revokeObjectURL方法。我们用FileReader对象来处理
            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onload = function(e){
               // alert(files[0].name + "," +e.total + " bytes");
                img.src = this.result;
                img.width = 200;
                 adminfileList.innerHTML='<img src="'+img.src+'"/>';
            }
        }else{
            //ie
            obj.select();
            obj.blur();
            var nfile = document.selection.createRange().text;
            document.selection.empty();
            img.src = nfile;
            img.width = 200;
            img.onload=function(){
                //alert(nfile+","+img.fileSize + " bytes");
            }
           adminfileList.innerHTML='<img src="'+img.src+'"/>';
        }
    }
</script>
</body>
</html>